/* Стили для секции slogan */
.slogan h2 {
    width: 100vw;
    text-align: center;
    color: #2732CE;
    font-size: 72px;
}

/* Стили для секции history */
.history {
    padding: 54px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_history {
    display: flex;
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.left h3 {
    width: 33vw;
    color: #2732CE;
}

.left p {
    width: 28vw; 
    color: #002033;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-image {
    width: 522px;
    border-radius: 15px;
}

@media (max-width: 830px) {
    .container_history {
        flex-direction: column;
        align-items: center;

        gap: 100px;
    }
    .left{
        padding: 0 5vw;
    }
    .left h3 {
        font-size: 32px;
        font-weight: 700;
    }
    .left h3, .left p {
        width: 90vw;
    }    
    .company-image {
        width: 100vw;
        height: auto;
        border-radius: 0;
    }

    .slogan h2 {
        font-size: 48px;
    }
}
