/* Title main h1 */
.menu-main a {
    color: #140C9C;
}
.menu-main a:hover,
.menu-main a:after,
.menu-main a:hover:after {
    color: #D8315B;
}

.navbar-logo h4{
    color: #140C9C;
}

.links{
    display: flex;
    gap: 16px;
}


.container {
    width: 75vw;
    margin: 30px 80px 200px 80px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.serve {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.serve h3{
    font-size: 32px;
    font-weight: 600;
}

.item {
    display: flex;
    gap: 10px;
}

.item hr {
    min-width: 30px;
    height: 10px;
    border-bottom: 1px solid #2732CE;
    margin: 0;
}
.item p{
    font-size: 18px;
    font-family: Hauora, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #002033;
}

.sub-item{
    transform: translate(0, -10%);
    margin-left: 40px;
}
.sub-item p{
    font-size: 14px;
    padding: 2px;
    color: #002033;
}


@media (max-width: 800px) {
    .serve h3{
        font-size: 20px;
    }
    .item p{
        font-size: 16px;
    }

    .container {
        width: 100vw;
        margin: 30px 0 200px 0;
        padding: 0 5%;
    }
}